body{
    background-color:cadetblue;
}
header{
    background-color: brown;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 40%;
}
footer{
    background-color: brown;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.left-column{
    flex: 1;
    padding-right: 20px;
   
    
    
}
.right-column{
    flex: 2;
    
}